.menu {
	float: left;
	width: 100%
}
.menu ul {
	height: 30px;
	font-family: "Myriad Pro";
	list-style: none;
}
.menu ul li {
	position: relative;
	right: 3%;
	float: left;
	width: 20%;
	text-align: center;
}
.menu ul li span {
	color: #03350a;
	font-size: 25px;
	text-decoration: none;
}
.menu span.limpid:after {
    content: url('https://cdn1.savepice.ru/uploads/2017/11/5/740a724404823a52f11afaec179e1ea4-full.png');
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 2%;

}
.menu span.limpid:before, span.limpid_1:before {
    content: "";
    display: none;
    float: right;
    width: 20px;
    height: 20px; 
}

@media screen and (max-width: 850px) {
	.menu ul li {
		right: 0;
		width: 100%;
		height: auto;
	}
	.menu ul li span {
		font-size: 35px;
	}
	.menu span.limpid_1:after {
	    content: url('https://cdn1.savepice.ru/uploads/2017/11/5/740a724404823a52f11afaec179e1ea4-full.png');
	    display: block;
	    float: left;
	    width: 20px;
	    height: 20px;
	    margin-top: 2%;
	}

	.menu span.limpid:before, span.limpid_1:before {
		content: url('https://cdn1.savepice.ru/uploads/2017/11/5/740a724404823a52f11afaec179e1ea4-full.png');
	    display: block;
	    float: right;
	    width: 20px;
	    height: 20px;
	    margin-top: 2%;
	    margin-right: 6%; 
	}
}
@media screen and (max-device-width: 600px) {
	.menu ul li {
		right: 0;
		width: 100%;
		height: auto;
	}
	.menu ul li span {
		font-size: 60px;
	}
	.menu span.limpid:after, span.limpid_1:after {
	    content: url('https://cdn1.savepice.ru/uploads/2017/11/5/740a724404823a52f11afaec179e1ea4-full.png');
	    display: block;
	    float: left;
	    width: 20px;
	    height: 20px;
	    margin: 0; 
	}
	.menu span.limpid:before, span.limpid_1:before {
		content: url('https://cdn1.savepice.ru/uploads/2017/11/5/740a724404823a52f11afaec179e1ea4-full.png');
	    display: block;
	    float: right;
	    width: 20px;
	    height: 20px;
	    margin-top: 0;
	    margin-right: 6%; 
	}
}